.btn {
  @apply inline-flex items-center justify-center relative appearance-none;
  @apply border border-transparent;
  @apply rounded-lg font-semibold;
  @apply outline-none transition-all;

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  &.btn-outline,
  &.btn-ghost {
    @apply border border-inherit bg-opacity-0;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      @apply bg-opacity-10;
    }
  }

  &.btn-ghost {
    @apply border-transparent;
  }

  &.btn-default {
    @apply bg-gray-400 bg-opacity-10;
    &:hover:not(:disabled) {
      @apply bg-opacity-20;
    }
    &:focus:not(:disabled),
    &:focus-visible:not(:disabled) {
      @apply outline-none ring ring-gray-400;
    }

    &.btn-outline,
    &.btn-ghost {
      @apply bg-opacity-0;
      &:focus:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:hover:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:active:not(:disabled) {
        @apply bg-opacity-20;
      }
    }

    &.btn-outline {
      @apply border-inherit;
    }
  }

  // colors
  &.btn-primary {
    @apply bg-primary-500 focus:bg-primary-600 focus:ring focus:ring-primary-300;
    @apply text-white;

    &:active:not(:disabled) {
      @apply bg-primary-700;
    }

    &.btn-outline,
    &.btn-ghost {
      @apply bg-opacity-0;
      @apply text-primary-500;
      &:focus:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:hover:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:active:not(:disabled) {
        @apply bg-opacity-20;
      }
    }
    &.btn-outline {
      @apply border-primary-500;
    }
  }

  &.btn-danger {
    @apply bg-red-500 focus:bg-red-600 focus:ring focus:ring-red-300;
    @apply text-white;

    &:active:not(:disabled) {
      @apply bg-red-700;
    }

    &.btn-outline,
    &.btn-ghost {
      @apply bg-opacity-0;
      @apply text-red-500;
      &:focus:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:hover:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:active:not(:disabled) {
        @apply bg-opacity-20;
      }
    }
    &.btn-outline {
      @apply border-red-500;
    }
  }

  &.btn-twitter {
    @apply bg-[#55ACEE] focus:bg-[#2293E9] focus:ring focus:ring-[#9FD0F5];
    @apply text-white;

    &:active:not(:disabled) {
      @apply bg-[#1375C0];
    }

    &.btn-outline,
    &.btn-ghost {
      @apply bg-opacity-0;
      @apply text-[#55ACEE];
      &:focus:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:hover:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:active:not(:disabled) {
        @apply bg-opacity-20;
      }
    }
    &.btn-outline {
      @apply border-[#55ACEE];
    }
  }
  &.btn-github {
    @apply bg-[#1F1F1F] focus:bg-[#030303] focus:ring focus:ring-[#484848];
    @apply text-white;

    &:active:not(:disabled) {
      @apply bg-[#000000];
    }

    &.btn-outline,
    &.btn-ghost {
      @apply bg-opacity-0;
      @apply text-[#1F1F1F];
      &:focus:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:hover:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:active:not(:disabled) {
        @apply bg-opacity-20;
      }
    }
    &.btn-outline {
      @apply border-[#1F1F1F];
    }
  }
  &.btn-google {
    @apply bg-[#1A73E8] focus:bg-[#125AB7] focus:ring focus:ring-[#64A0EF];
    @apply text-white;

    &:active:not(:disabled) {
      @apply bg-[#0D4184];
    }

    &.btn-outline,
    &.btn-ghost {
      @apply bg-opacity-0;
      @apply text-[#1A73E8];
      &:focus:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:hover:not(:disabled) {
        @apply bg-opacity-10;
      }
      &:active:not(:disabled) {
        @apply bg-opacity-20;
      }
    }
    &.btn-outline {
      @apply border-[#1A73E8];
    }
  }

  // loading
  &.btn-loading,
  &.btn-loading-no-text {
    &,
    &:hover {
      @apply cursor-not-allowed;
    }

    &:before {
      @apply h-4 w-4 rounded-full mr-4 border;
      @apply animate-spinner border-t-current border-l-transparent border-r-current border-b-transparent;
      content: "";
    }
  }

  &.btn-loading-no-text {
    &:before {
      @apply absolute mr-0;
    }
  }

  &.btn-full {
    @apply w-full;
  }

  &.btn-round {
    @apply rounded-full;
  }

  &.ibtn-sm {
    @apply p-1 h-8 w-8;

    & svg {
      @apply h-3 w-3;
    }
  }

  &.ibtn-md {
    @apply p-2 h-10 w-10;

    & svg {
      @apply h-4 w-4;
    }
  }

  &.ibtn-lg {
    @apply p-2 h-12 w-12;

    & svg {
      @apply h-5 w-5;
    }
  }

  &.btn-ghost {
    &.ibtn-sm {
      & svg {
        @apply h-4 w-4;
      }
    }

    &.ibtn-md {
      & svg {
        @apply h-6 w-6;
      }
    }

    &.ibtn-lg {
      & svg {
        @apply h-6 w-6;
      }
    }
  }
}

// sizing
.btn-sm {
  @apply h-8 px-3;

  & .button-icon-left {
    @apply -ml-1 mr-1;
    & svg {
      @apply h-4 w-4;
    }
  }

  & .button-icon-right {
    @apply -mr-1 ml-1;
    & svg {
      @apply h-4 w-4;
    }
  }
}
.btn-md {
  @apply h-10 px-5;

  & .button-icon-left {
    @apply -ml-2 mr-3;
    & svg {
      @apply h-5 w-5;
    }
  }

  & .button-icon-right {
    @apply -mr-2 ml-3;
    & svg {
      @apply h-5 w-5;
    }
  }
}

.btn-lg {
  @apply h-14 px-5;

  & .button-icon-left {
    @apply -ml-3 mr-4;
    & svg {
      @apply h-6 w-6;
    }
  }

  & .button-icon-right {
    @apply -mr-3 ml-4;
    & svg {
      @apply h-6 w-6;
    }
  }
}
