@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;0,500;&display=swap');

@tailwind base;

@import './tailwind-preflight.scss';

@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}


.grayscale {
  filter: grayscale(1);
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  div#__next {
    @apply h-full;
  }
}

@import './posts-page.scss';
.tab {
  &::after {
    position: absolute;
    content: "";
    background: #E0E0E0;
    bottom: 0px;
    left:0;
    width: 100%;
    height: 2px;
  }
}

.tab-item {
  &:hover {
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left:0;
      width: 100%;
      background-color: #2463EB;
      height: 2px;
      z-index: 20;
    }
  }
}

.tab-item-active {
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left:0;
    width: 100%;
    background-color: #2463EB;
    height: 2px;
    z-index: 20;
  }
}

.clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.fade-out-edges:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -10px;
  top:-3%;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 6%;
  height:106%;
  border-radius:12px;
}
.fade-out-edges:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -10px;
  top:-3%;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 6%;
  height:106%;
  border-radius:12px;
}

@import "./rc-pagination.scss";
@import "./nprogress.scss";

@layer components {
  @import "/components/atom/FormControl/formcontrol.scss";
  @import "/components/atom/Button/button.scss";
  @import "/components/atom/Spinner/spinner.scss";
}
.language-item {
  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

.kofitext img.kofiimg {
  height: 15px!important;
  width: 22px!important;
  display: inline;
  display: initial;
  -webkit-animation: kofi-wiggle 3s infinite;
  animation: kofi-wiggle 3s infinite;
}

span.kofitext {
  color: #fff !important;
  letter-spacing: -0.15px !important;
  vertical-align: middle;
  line-height: 33px !important;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}
.kofitext a {
  color: #fff !important;
  text-decoration: none !important;
}
.kofitext a:hover {
  color: #fff !important;
  text-decoration: none;
}
a.kofi-button {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  line-height: 36px !important;
  display: inline-block !important;
  background-color: #29abe0;
  padding: 2px 12px !important;
  text-align: center !important;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none #fff !important;
  font-family: "Quicksand", Helvetica, Century Gothic, sans-serif !important;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700 !important;
  font-size: 14px !important;
}
a.kofi-button:visited {
  color: #fff !important;
  text-decoration: none !important;
}
a.kofi-button:hover {
  opacity: 0.85;
  color: #f5f5f5 !important;
  text-decoration: none !important;
}
a.kofi-button:active {
  color: #f5f5f5 !important;
  text-decoration: none !important;
}
.kofitext img.kofiimg {
  height: 15px !important;
  width: 22px !important;
  display: initial;
  animation: kofi-wiggle 3s infinite;
}
@keyframes kofi-wiggle {
  0% {
    transform: rotate(0) scale(1);
  }
  60% {
    transform: rotate(0) scale(1);
  }
  75% {
    transform: rotate(0) scale(1.12);
  }
  80% {
    transform: rotate(0) scale(1.1);
  }
  84% {
    transform: rotate(-10deg) scale(1.1);
  }
  88% {
    transform: rotate(10deg) scale(1.1);
  }
  92% {
    transform: rotate(-10deg) scale(1.1);
  }
  96% {
    transform: rotate(10deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.toastOverride div:nth-of-type(2){
  flex-direction: column;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror .is-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
}

.tippy-svg-arrow{
  fill:#111827!important;
}

figure.ProseMirror-selectednode{
  img{outline:3px solid blue;}
  figcaption::selection {
      background: transparent!important;
  }
}

.inter-font{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

img.ProseMirror-selectednode{
  outline:3px solid blue;
}

figcaption{
  position:relative;
  // text-align: center;
}
.editable_text.empty::after{
  position:absolute;
  pointer-events: none;
  color:#b5bbc2;
  width:100%; 
  left:0;
  top:0;
  content: "Image Caption (Optional)";
}
// .editable_text.empty{
//   opacity:0;
//   height:0px;
//   margin-top:0px!important;
// }
figure.ProseMirror-selectednode, figure.is-empty{
  .editable_text{
    opacity:1;
    height:auto;
    margin-top:16px!important;
  }
}
// button[type="submit"]{
//   background:rgb(58, 92, 204)!important;
// }
// button[type="submit"]:hover{
//   background:rgb(75, 110, 223)!important;
// }
button[type="submit"].bg-gray-100{
  background:rgba(156,163, 175, 0.2)!important;
}
button[type="submit"].bg-gray-100:hover{
  background:rgba(141, 148, 160, 0.25)!important;
}

.sky-gradient {
background: linear-gradient(180deg, #1288FE 11.07%, rgba(255, 255, 255, 0) 83.98%), #CCE6FF;
}


.repeating-envolope {
    overflow: hidden;
    color: pink;
    border: 4px solid pink;
    border-image:  repeating-linear-gradient(-45deg,
                #3574F0 0 20px,
                #FE9BE8 20px 40px) 10;
}

.bg-grad-orange {
    background: radial-gradient(63.84% 63.84% at 90.66% 13.62%, #0E9A35 61.23%, #FF4117 100%)
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
            , #FF553E;
}

// .repeating-linear:hover {
//     border-image: repeating-linear-gradient(45deg, purple, purple 1%, pink 1%, pink 8%) 10;
//     color: purple;
// }

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

// meilisearch box
.ais-SearchBox{
  // width:460px;
  max-width: 100%;
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(107 114 128)!important;
    opacity: 1; /* Firefox */
    font-size: 0.9rem!important;
  }
  font-size: 0.9rem!important;
  
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgb(107 114 128)!important;
  }
  
  input::-ms-input-placeholder { /* Microsoft Edge */
    color:rgb(107 114 128)!important;
  }
  input:focus {
    background-color: #fff!important;
  }
}
.ais-SearchBox-input {
  padding: 0.3rem 2.4rem!important;
  width: 100%;
  position: relative;
  background-color:#f1f5fb!important;
  border: 1px solid #e4e6ef!important;
  border-radius:32px!important;
}
.ais-SearchBox-reset{
  right:0.8rem!important;
}
.ais-SearchBox-submit {
  left: 0.8rem!important;
}
.ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: calc(100% - 1rem)!important;
  border: 1px solid #e3e7f8!important;
  box-shadow: none!important;
  border-radius:12px;
}
[class^=ais-] {
  font-size: 0.874rem!important;
}
.ais-Highlight-highlighted, .ais-Snippet-highlighted {
  font-weight: 800;
  background: #dfeafb!important;
}
.ais-SearchBox{
  width:260px!important;
}
.search-wide{
  .ais-SearchBox{
    width:460px!important;
  }
}
@media (max-width: 1310px) {
  .search-wide{ .ais-SearchBox{
    width:400px!important;
  }}
}
@media (max-width: 1230px) {
  .search-wide{ .ais-SearchBox{
    width:340px!important;
  }}
}
@media (max-width: 1000px) {
  .search-wide{ .ais-SearchBox{
    width:280px!important;
  }}
}
@media (max-width: 600px) {
  .ais-SearchBox, .search-wide .ais-SearchBox{
    width:200px!important;
  }
}

.glassmorphism{
  background: rgba( 255, 255, 255, 0.25 );
  // box-shadow: 0 1px 0.5px 0 rgba( 31, 38, 135, 0.02 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  // border-radius: 10px;
  // border-bottom: 1px solid rgba( 255, 255, 255, 0.05 );
}