// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.grayscale {
  filter: grayscale(1);
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  div#__next {
    @apply h-full;
  }
}

@import './posts-page.scss';
.tab {
  &::after {
    position: absolute;
    content: "";
    background: #E0E0E0;
    bottom: 0px;
    left:0;
    width: 100%;
    height: 2px;
  }
}

.tab-item {
  &:hover {
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left:0;
      width: 100%;
      background-color: #2463EB;
      height: 2px;
      z-index: 20;
    }
  }
}

.tab-item-active {
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left:0;
    width: 100%;
    background-color: #2463EB;
    height: 2px;
    z-index: 20;
  }
}

.clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.fade-out-edges:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -10px;
  top:-3%;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 6%;
  height:106%;
  border-radius:12px;
}
.fade-out-edges:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -10px;
  top:-3%;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 6%;
  height:106%;
  border-radius:12px;
}

@import "./rc-pagination.scss";
@import "./nprogress.scss";

@layer components {
  @import "/components/atom/FormControl/formcontrol.scss";
  @import "/components/atom/Button/button.scss";
  @import "/components/atom/Spinner/spinner.scss";
}
.language-item {
  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

.kofitext img.kofiimg {
  height: 15px!important;
  width: 22px!important;
  display: inline;
  display: initial;
  -webkit-animation: kofi-wiggle 3s infinite;
  animation: kofi-wiggle 3s infinite;
}

span.kofitext {
  color: #fff !important;
  letter-spacing: -0.15px !important;
  vertical-align: middle;
  line-height: 33px !important;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}
.kofitext a {
  color: #fff !important;
  text-decoration: none !important;
}
.kofitext a:hover {
  color: #fff !important;
  text-decoration: none;
}
a.kofi-button {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  line-height: 36px !important;
  display: inline-block !important;
  background-color: #29abe0;
  padding: 2px 12px !important;
  text-align: center !important;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none #fff !important;
  font-family: "Quicksand", Helvetica, Century Gothic, sans-serif !important;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700 !important;
  font-size: 14px !important;
}
a.kofi-button:visited {
  color: #fff !important;
  text-decoration: none !important;
}
a.kofi-button:hover {
  opacity: 0.85;
  color: #f5f5f5 !important;
  text-decoration: none !important;
}
a.kofi-button:active {
  color: #f5f5f5 !important;
  text-decoration: none !important;
}
.kofitext img.kofiimg {
  height: 15px !important;
  width: 22px !important;
  display: initial;
  animation: kofi-wiggle 3s infinite;
}
@keyframes kofi-wiggle {
  0% {
    transform: rotate(0) scale(1);
  }
  60% {
    transform: rotate(0) scale(1);
  }
  75% {
    transform: rotate(0) scale(1.12);
  }
  80% {
    transform: rotate(0) scale(1.1);
  }
  84% {
    transform: rotate(-10deg) scale(1.1);
  }
  88% {
    transform: rotate(10deg) scale(1.1);
  }
  92% {
    transform: rotate(-10deg) scale(1.1);
  }
  96% {
    transform: rotate(10deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.toastOverride div:nth-of-type(2){
  flex-direction: column;
}

.ProseMirror:focus {
    outline: none;
}



.ProseMirror {

    >*+* {
        margin-top: 0.75em;
    }

    ul,
    ol {
        padding: 0 1rem;
        list-style-type: disc;
    
    }

    li {
        list-style-type: disc;
    }

    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #0D0D0D;
        color: #FFF;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;

        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
    figure{
      max-width: 100%;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0D0D0D, 0.1);
    }

    a {
        color: #2345de;
        text-decoration: underline;
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
    }
        
}

// .ProseMirror p.is-editor-empty:first-child::before {
//     content: attr(data-placeholder);
//     float: left;
//     color: #adb5bd;
//     pointer-events: none;
//     height: 0;
// }


.ProseMirror .is-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
}

.tippy-svg-arrow{
  fill:#111827!important;
}

figure.ProseMirror-selectednode{
  img{outline:3px solid blue;}
  figcaption::selection {
      background: transparent!important;
  }
}
img.ProseMirror-selectednode{
  outline:3px solid blue;
}

figcaption{
  position:relative;
  // text-align: center;
}
.editable_text.empty::after{
  position:absolute;
  pointer-events: none;
  color:#b5bbc2;
  width:100%; 
  left:0;
  top:0;
  content: "Image Caption (Optional)";
}
.editable_text.empty{
  opacity:0;
  height:0px;
  margin-top:0px!important;
}
figure.ProseMirror-selectednode, figure.is-empty{
  .editable_text{
    opacity:1;
    height:'auto';
    margin-top:16px!important;
  }
}
button[type="submit"]{
  background:rgb(58, 92, 204)!important;
}
button[type="submit"]:hover{
  background:rgb(75, 110, 223)!important;
}