.newsletter-content .blog-content>div>p{
    display:none;
}
.popup-modal-content{
    li p{
        display:inline;
    }
}
// .blog-content img:first-of-type{
//     margin-top:-100px!important;
// }
// .block-iframe{
//     display: flex;
//     justify-content: center;
// }
hr + p:empty {
    display: none;
  }
/* Hide any empty paragraph that is immediately followed by another empty paragraph */
p:empty + p:empty {
    display: none;
}

/* Override the rule above to ensure that a paragraph with text that follows an empty paragraph is not hidden */
p:empty + p:not(:empty) {
    display: block;
}

/**********************
***********************/
// content max width
.blog-content{
    *:not(.tippy-content *, .tippy-box, [data-tippy-root]), ul, ol{
        max-width: 44rem;
    }
   figure>img.w-full, figure.size-large>img{
        width:44rem;
    }
    blockquote.wp-block-quote, figure.wp-block-image.size-large.full-size, figure.wp-block-image.size-full{
    max-width:44rem;
        p{
            max-width: 44rem;
            font-size:1.8rem;
            line-height:2.5rem;
        }
    }
    blockquote {
        max-width: 46.4rem!important;
    }
    .wp-block-image {
        img.full-size{
         max-width:56rem;
        }
    }
   .fig-img{
        max-width: 100%!important;
    }
    figcaption{
        max-width: 40rem!important;
    }
    blockquote.wp-block-quote.main-menu{
        max-width: 40rem;
    }
    blockquote.wp-block-quote{
        max-width: 42.5rem!important;
    }
    .wp-block-pullquote{
        max-width: 36rem;
    }
}
/**********************
***********************/
/**
toolbox width
**/
.blog-content.toolbox-content{
    img, div, p, h1, h2, h3, h4, ol, li, ul, iframe, figure, blockquote, figcaption, hr, table, video{
        margin-left:0!important;
        margin-right:0!important;
    }
    ul{
        padding:0rem 0 0.75rem 1.5rem;
    }
    iframe{
        width:100%!important;
        margin-top: 1rem;
        margin-bottom: 2rem;
        min-height: 400px;
    }
    @media only screen and (max-width: 660px) {
        iframe{
            max-height: 280px;
            min-height: 280px;
        }
    }
    *:not(.tippy-content *, .tippy-box, [data-tippy-root]), ul, ol{
        // max-width: 100%;
    }
   figure>img.w-full, figure.size-large>img{
        width:54rem;
    }
    blockquote.wp-block-quote, figure.wp-block-image.size-large.full-size, figure.wp-block-image.size-full{
    max-width:54rem;
        p{
            max-width: 54rem;
            font-size:1.8rem;
            line-height:2.5rem;
        }
    }
    blockquote {
        max-width: 56.4rem!important;
    }
    .wp-block-image {
        img.full-size{
         max-width:66rem;
        }
    }
   .fig-img{
        max-width: 100%!important;
    }
    figcaption{
        max-width: 50rem!important;
        margin-top: 8px !important;
    }
    figure, pre {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    blockquote.wp-block-quote.main-menu{
        max-width: 50rem;
    }
    blockquote.wp-block-quote{
        max-width: 52.5rem!important;
    }
    .wp-block-pullquote{
        max-width: 46rem;
    }
}
/**********************
***********************/
/**
news width
**/
.blog-content.news-content{
    *:not(.tippy-content *, .tippy-box, [data-tippy-root]), ul, ol{
        max-width: 44rem;
    }
    h2:first-of-type, h1:first-of-type, h3:first-of-type{
        margin-top:0px!important;
    }
    ul{
        padding: 0rem 0 1rem 1.5rem;
        margin-bottom: 1rem !important;
    }
    li{
        margin-top:1.14rem;
        line-height: 1.4rem;
    }
    // p{
       
    //     max-width: 54rem;
    //     font-size:1rem;
    //     line-height:1.5rem;
    //     margin-bottom: 1.2rem;
    // }
    // h3 {
    //     margin-top: 1.5rem;
    //     margin-bottom: 0.75rem;
    //     font-size: 1.3rem;
    //     font-weight: 500;
    //     color: #242424;
    // }
    h3{
        font-size:1.3rem;
    }
    pre{
        white-space:break-spaces;
        font-size:14px;
        margin-top:12px;
        margin-bottom:12px;
    }
    figure{
        margin-top:12px;
        margin-bottom:12px;
    }
    blockquote {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: 3px solid #757575;
        margin: 1em 10px;
        margin-top: 0rem !important;
        margin-bottom: 1rem !important;
        padding: 0.26em 20px;
        color: #666;
        p{
            font-style: normal!important;
        }
    }
    

}

/**********************
***********************/
/**********************
***********************/
.blog-content{
   
    *{
        overflow-wrap: break-word;
    }
    
    .wp-caption-text{margin-top:10px!important;}

figure, pre{
      margin-top:2.4rem;
      margin-bottom: 2.8rem;
}
.lazyload-wrapper{
    figure{
        margin-bottom:0rem;
    }
}
    color:#1c222c;
    font-size:1.14rem;
    font-weight: 400;
    // h1,h2,h3,h4,h5{
    //     font-family:"Inter", serif;
    // }
    p,li,ol, ul{
            line-height:33px;
            font-size:20px;
            // font-family:"Inter", serif!important;
    }
    strong,b{
        font-weight: 600;
    }
     a:not(.headline){
        color:#242424;
        text-decoration:underline;
        text-decoration-thickness: 2px;
    }
    p{
        margin-bottom: 1.25rem;
        min-height: 1.5em;
    }

    h1{
        font-weight: 600;
        margin-top: 3.2rem;
        margin-bottom: 1.6rem;
        font-size: 2rem;
        font-weight: 500;
    }
    h2{
        margin-top: 2.8rem;
        margin-bottom: 1.5rem;
        font-size: 1.6rem!important;
        padding-bottom: 0!important;
        font-weight: 500;
        color: #242424;
    }
    h3{
        margin-top: 2.6rem;
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #242424;
    }
    h4{
        margin-top: 2rem;
        margin-bottom: 1.25rem;
        font-size: 1.22rem;
        font-weight: 500;
        color: #242424;
    }
    blockquote {
        // background: #f2f5f7;
        border-top-right-radius:6px;
        border-bottom-right-radius:6px;
        border-left: 3px solid #242424;
        margin: 1.5em 10px;
        margin-top:2.5em!important;
        margin-bottom:2.5em!important;
        padding: 0.5em 20px;
        // quotes: "\201C" "\201D" "\2018" "\2019";
        color: #242424d1;
        margin-bottom: 1.25rem;
        p {
            display: inline;
            // font-weight: 300;
            font-style: italic;
        }
        strong{
            font-weight: normal;
        }
    }
    // blockquote:before {
    //     color: #1d3d7d;
    //     content: open-quote;
    //     font-size: 4em;
    //     line-height: .1em;
    //     margin-right: 0.25em;
    //     vertical-align: -0.4em;
    // }
    .wp-block-image.full-size img, .wp-block-cover{
        margin-top: 2.5rem;
        margin-bottom:2.5rem;
    }
    .wp-block-image img {
        margin: 2.5rem auto;
        border-radius: 0.375rem;
    }
  
   ul{
    list-style-type: disc;
    list-style-position: inside;
    padding: 1.5rem 0 1.5rem 1.5rem;
    margin-bottom: 1.5rem!important;
        li{
            list-style-type: disc;
        }
    }
   ol{
    list-style-type: number;
    list-style-position: inside;
    padding: 1.5rem 0 1.5rem 1.5rem;
    margin-bottom: 1.5rem!important;
        li{
           list-style-type: number;
           list-style: decimal;
           list-style-position: inherit;
        }
    }
   
   li{
    // margin-left:2rem;
    margin-top:1.25rem;
   }
   li>p, ol>p{
       display:inline;
   }
   figure>img{
       margin-bottom:0px!important;
   }
   hr{
    margin-top:2.4rem;
    margin-bottom:2.4rem;
   }
   figure img, p>img{
    border-radius:4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid #efefef;
   }
   img[alt="decorative section divider"]{
    border-radius:4px;
    box-shadow:none;
    border: 0px;
   }
   [data-card]{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 4px;
   }
   blockquote.wp-block-quote, figure.wp-block-image.size-large.full-size, figure.wp-block-image.size-full{
       p{
           font-size:1.8rem;
           line-height:2.5rem;
       }
   }
   .table-display {
    border-collapse: collapse;
    width: 100%;
  }
  figcaption{
  margin-top:14px!important;
  font-size: 1rem;
  color: #242424b6;
  margin-top: -0.5rem;
  text-align: center;
  }
  .p-3{
    padding:0.75rem;
  }
  .table-display td, .table-display  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .table-display  tr:nth-child(even){background-color: #f2f2f2;}
  .table-display  tr:hover {background-color: #ddd;}
  .table-display  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #435a97;
    color: white;
  }
   img{
       max-width: 100%;
       width:100%;
   }
   blockquote.wp-block-quote.main-menu{
    margin: 0em 0px;
    margin-left:auto;
    margin-right: auto;
    font-size: 1.14rem;
    a{
        margin-top: 0.5rem;
        display: inline-block;
    }
   }
   blockquote.wp-block-quote{
    em{
        font-style: normal!important;
    }
    font-style: normal!important;
    strong{
        font-weight: 300!important;
    }
    // margin: 2.5em auto;
    font-size:1.5rem;
    a{
        color:#7f7f7f;
        font-weight: 300!important;
    }
    p{
        font-weight: 300!important;
        color:#7f7f7f;
        display:inline;
        font-style: normal!important;
    }
    color:#7f7f7f;
    // background:#fff;
    border:0px;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: -0.025em;
    cite{
        display: block;
    margin-top: 1rem;
    text-align: left;
    padding: 0px;
    margin-left: 0px;
    font-weight: normal;
    color: rgb(113, 128, 150);
    }
   }
   blockquote.wp-block-quote:before {
    margin-right: 0.2em;
    color: #cacbcf;
    content: open-quote;
    quotes:"\201C" "\201D" "\2018" "\2019";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -0.4em;
}

.wp-block-image{
   figcaption{
       margin-top:-2rem;
   }
}
}

/* colours from theme */
::-webkit-selection {
    background-color: #a4dcfc; 
  }
  ::-moz-selection {
    background-color: #a4dcfc;
  }
  ::selection {
    background-color: #a4dcfc; 
  }

  textarea.figcaption{
    width:100%;
    background:#fff;
    border:0px;
    color:#555d66;
    font-size:13px;
    text-align:center;
    border: none;
    // background-color: transparent!important;
    resize: none!important;
    outline: none!important;
  }
  textarea.figcaption:focus{
    border:0px;
    box-shadow: none;
  }
  textarea.figcaption::placeholder{
    color:#7e8d9e;
  }

  .blocks-gallery-caption,.wp-block-embed figcaption,.wp-block-image figcaption{color:#555d66;font-size:13px;text-align:center}
  .wp-block-quote__citation,.wp-block-quote cite,.wp-block-quote footer{color:#6c7781;font-size:13px;margin-top:1em;position:relative;font-style:normal}

  .wp-block-pullquote{
  margin-top: 2.8em ;
  margin-bottom: 2.8em;
  blockquote{
      padding-top:0px;
      padding-bottom:0px;
      margin-top:0px;
      margin-bottom:0px;
      background: none; 
     border-left:none; 
        padding: 0px;
  }
  blockquote:before{
      display: none;
  }
  cite{
      display:block;
      margin-top:1.5rem;
  }
 }

@media only screen and (max-width: 600px) {
    figure{
        max-width:100%!important;
        img{
            max-width:100%!important;
        }
    }
    iframe{
        max-width: 100%!important;
    }
    .max-w-full{
        max-width: 100%!important;
        // max-width: 50rem!important;
        margin-left: 0rem!important;
    }
  }

  .blog-page .blog-content video {
    width: 100%;
 }


 .blocks-gallery-item{
     list-style-type: none;
 }

 .editor-img::selection, figure::selection {
    background-color:transparent!important;
}
 .react-renderer.node-figure{
    margin-left:auto;
    margin-right: auto;
    display:flex;
 }

 pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    max-width: 44rem;
}

 /*** Works on common browsers ***/
::selection {
    background-color: rgb(164, 220, 252);
    background: rgb(164, 220, 252)!important;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: rgb(164, 220, 252);
    background: rgb(164, 220, 252)!important;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: rgb(164, 220, 252);
    background: rgb(164, 220, 252)!important;
}

::-ms-selection {
    background-color: rgb(164, 220, 252);
    background: rgb(164, 220, 252)!important;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: rgb(164, 220, 252);
    background: rgb(164, 220, 252)!important;
}
#imageEditorNode{
    max-width: 100%!important;
}
.tippy-box{
    max-width: 400px!important;
    outline:none;
}

.guide-layout{
    .blog-content>div, .blog-content{
        width: 100%;
        max-width: 100%;
    }
    >div{
        max-width: 100%!important;
    }
    .full-width{
        width:100%!important;
    }
    .blog-content{
       
        *:not(.tippy-content *, .tippy-box, [data-tippy-root]), ul, ol{
            max-width: 100%;
            // margin-right: auto;
            // margin-left: auto;
            .flex{
                figure{
                    margin-bottom: auto;
                    // margin:0 0;
                    // max-width: 50%;
                }
            }
        }
        p, h1, h2, h3, h4, ol, li{
            max-width: 44rem!important;
        }
        .flex figcaption {
        text-align: center;
        font-size: 0.9rem;
        color: #1c222c;
        // margin-top: rem;
        }
    }
}
@media (max-width: 600px) {
    .guide-layout{
        margin-top: -180px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 1px;
        .blog-content{
            *:not(.tippy-content *, .tippy-box, [data-tippy-root]), ul, ol{
                .flex{
                    figure{
                        margin-bottom: 2rem!important;
                        // margin:0 0;
                        // max-width: 50%;
                    }
                }
            }
        }
    }
  }
  @media (max-width: 1200px) {
    .guide-layout{
        margin-top: -160px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        .blog-content{
            *:not(.tippy-content *, .tippy-box, [data-tippy-root]), ul, ol{
                .flex{
                    figure{
                        margin-bottom: 2rem!important;
                        // margin:0 0;
                        // max-width: 50%;
                    }
                }
            }
        }
    }
  }

  .ProseMirror{
    figure.ProseMirror-selectednode{
        figcaption *::selection {
            background-color: transparent;
            background: transparent!important;
            
        }
    }
    figure{
        cursor:default;
        figcaption{
            cursor:text;
            a{
                pointer-events: all;
            }
        }
        img{
            pointer-events: none;
            -khtml-user-select: none;
            -o-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            width:100%;
        }

        a{
            pointer-events: none;
        }
    }
  }
// twitter editor embed
.editorInput, .editorFigcaption{
    border:none!important;
    outline:none!important;
    width:100%;

}
.editorInput:focus, .editorInput.active, .editorFigcaption:focus{
    border:none!important;
    outline:none!important;
}
.twitterOverlay{
    position: absolute;
    width: 100%;
    height:100%;
    background:rgba(255,255,255,0.1);
    pointer-events: all;
}

.ProseMirror{
    a.link-box{
        pointer-events: none;
    }
    .ProseMirror-selectednode{
        a{
            pointer-events: none;
        }
        .link-embed-box{
            border:1px solid #d3e4ff;
            border-radius:5px;
            overflow:hidden;
        }
        .twitter-tweet{
            border:1px solid #d3e4ff;
            border-radius:0.8rem;
            overflow:hidden;
            pointer-events: none;
        }
    }
}
.blog-content{
    .max-w-full{
        // max-width: 100%!important;
        max-width: 50rem!important;
        // margin-left: -1rem;
    }
    figure{
        max-width: fit-content;
        video{
            width: 100%!important;
        }
        img{
            max-width: 100%!important;
        }
    }
    img{
        max-width: 100%;
    }
    figcaption, iframe{
        max-width: 44rem!important;
    }
    figcaption{
        margin-left:auto;
        margin-right: auto;
    }
//    figcaption{
//         margin-left:auto;
//         margin-right: auto;
//     }
    // p, h1, h2, h3, h4, ol, li, ul, iframe, figure, img, blockquote, figcaption, hr, div, table, video{
    //     margin-left:auto;
    //     margin-right: auto;
    // }
    .twitter-tweet{
        margin-top:40px!important;
        margin-bottom:40px!important;
    }
    // figure{
    //     display:inline
    // }
}

.sponsor-table{
    img{
        max-width: 180px;
        margin-top:6px;
        margin-bottom:12px;
    }
    li{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        list-style:disc;
        padding-left: 0.25rem;
    }
}