.popup-modal-content ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 1.5rem 0 1.5rem 1.5rem;
    margin-bottom: 1.5rem !important;
  }
  .popup-modal-content ul li {
    margin-top: 0.75rem;
    color: #4a5568;
  }
  .popup-modal-content ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 1.5rem 0 1.5rem 1.5rem;
  }
  .popup-modal-content ol li {
    margin-top: 0.5rem;
  }
  .popup-modal-content ul ul, .popup-modal-content ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }
  .popup-modal-content ol ol, .popup-modal-content ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }

  .popup-modal-content  p{
    margin-bottom:1.25rem;
  }
.popup-modal-content a{
  color: #2f80c2;
  text-decoration: underline;
}